<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>猫・犬・狐　判別アプリ</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>   
        <div style="text-align: left;"></div><a class="header-logo" href="#">猫・犬・狐　判別アプリ</a></div>
    </header>

    <div class="main">    
        <h2> AIが送信された画像について、猫、犬、狐を識別します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        {% if img_url %}
        <div class="answer"><h2>{{answer}}</h2></div>
        <div style="text-align: center;">
            <img class="upload_img" src={{img_url}} width="300">
        </div>
        {% endif %}
    </div>

    <footer> 
    </footer>
</body>
</html>